1-> accept percentage form the user and display grade according to it.

Ans->

In [23]:
per = int(input("Enter percentage of the student : "))
if per > 100:
    print("not a valid input")
elif per >90 and per<=100:
    print("Grade A")
elif per > 80 and per <=90:
    print("Grade B")
elif per >=60 and per <=80:
    print("Grade C")
else:
    print("Grade D")

Enter percentage of the student :  95

Grade A

2->accept cost price of the bike from user and display tax according to it .

Ans->

In [34]:
price = int(input("enter the cost price of the bike : $"))
if price > 100000:
    print("road tax to be paid : 15%")
elif price > 50000 and price <=100000:
    print("road tax to be paid : 10%")
else:
    if price >0: 
        print("road tax to be paid : 5%")

enter the cost price of the bike : $ 95000

road tax to be paid : 10%

3-> Accept any city from the user and display monuments of that city.

Ans->

In [39]:
city = input("Enter the city name : ")
if city== "Delhi" or city == "delhi":
    print("Monument in Delhi : Red Fort")
elif city=="Agra" or city == "agra":
    print("Monument in Agra : Taj Mahal")
elif city == "Jaipur" or city =="jaipur":
    print("Monument in Jaipur : Jal Mahal")
else:
    print("No data found")

Enter the city name :  Mumbai

No data found

4-> we are checking that how many times a number can be divided by 3 before it is less than or equal to 10.

Ans->

In [46]:
num = int(input("Enter a number : "))
count = 0
if num <=10 :
    print("count = 0")
else:
    while num > 10 :
        num = num / 3
        count+=1
print(f"nmber can be divided by 3, {count} times")

Enter a number :  900

nmber can be divided by 3, 5 times

5-> Why and when to use while loop in python give a detailed description with example
Ans-> While Loop is used to repeat a specific block of code an unknown number of times, until a condition is met.
      this loop executes the code until the condition becomes false.
      we use while loop when we don't know how many times the code executes
      
      eg.

In [16]:
a = 10
while a>9:
    print(a)
    a-=1

10

6-> Use nested while loop to print 3 different pattern.

Ans->

In [7]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [17]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2), end=" ")
        j = j + 1
    i = i + 1
    print('')

2
4 4
6 6 6
8 8 8 8
10 10 10 10 10

7-> Reverse a while loop in python to print numbers from 10 to 1.

In [22]:
a=10
while a>0:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1