1-> Explain with an example each when to use a for loop and a while loop.

Ans-> For loop is used when we know that how many times our loop will executes

while loop is used when we don't know how many times our loop will execute

In [1]:
# for loop example

for i in range(1,11):
    print(2, 'X' , i , '=', i*2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [2]:
# while loop example
a=20
while a>10:
    print(a)
    a-=1

20
19
18
17
16
15
14
13
12
11

2-> Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

Ans->

In [3]:
# with for loop 

sum= 0
product =1
for i in range(1,11):
    sum = sum +i
    product = product * i 
print("sum of first natural number is ",sum)
print("product of first natural number is ",product)

sum of first natural number is  55
product of first natural number is  3628800

In [5]:
# with while loop

sum=0
product=1
i=10
while i>0:
    sum=sum + i
    product = product * i
    i-=1
print("sum of first natural number is ",sum)
print("product of first natural number is ",product)

sum of first natural number is  55
product of first natural number is  3628800

3-> Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows : For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, after 300 units and above the user will be charged Rs. 20 per unit.

In [9]:
amount = int(input("Enter the units of electricity consumed in a month : "))
price = 0
if amount > 0 and amount <=100:
    price = amount * 4.5
    print("Amount charged : ",price)
elif amount > 100 and amount <=200:
    price = (amount - 100)*6 + (100*4.5)
    print("Amount charged : ",price)
elif amount > 200 and amount <=300:
    price = (amount - 200)*10 + (100*6) + (100*4.5)
    print("Amount charged : ",price)
else:
    price = (amount-300)*20 + (100*10) + (100*6) + (100*4.5)
    print("Amount charged : ",price)

Enter the units of electricity consumed in a month :  310

Amount charged :  2250.0

4-> Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

Ans->

In [2]:
list1 = []
for i in range(1,101):
    list1.append(i)
print(list1)

list2 = []
cube = 0

for i in list1:
    cube = (i*i*i)
    if cube % 4 == 0 or cube % 5 == 0 :
        list2.append(i)
print("numbers, whose cube is divisible by 4 or 5 : ")   
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
numbers, whose cube is divisible by 4 or 5 :
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

5-> write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

Ans->

In [5]:
string = "I want to become a data scientist"
a = string.upper()
count = 0

for i in a:
    if i == "A" or i == "E" or i == "I" or i == "O" or i == "U":
        count+=1
print("total number of vowels in the string : ",count)

total number of vowels in the string :  12