Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans-> A database is information that is set up for easy access, management and updating. Computer databases typically store aggregations of data records or files that contain information, such as sales transactions, customer data, financials and product information.

Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

difference between SQL and NOSQL :

* SQL is primarily called RDBMS or Relational Databases, whereas NoSQL is a Non-relational or Distributed Database.

* Comparing SQL vs NoSQL databases, SQL databases are table-based databases, whereas NoSQL databases can be document-based, key-value pairs, and graph databases.

* SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

* SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.

* Comparing NoSQL vs SQL performance, SQL requires specialized DB hardware for better performance while NoSQL uses commodity hardware.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans-> Data Definition Language(DDL) is used to define database schema in DBMS.

Data Definition Language(DDL) commands in DBMS are used to define the database objects. We can create, delete and alter tables using DDL commands. Since a database structure is designed by DDL commands, they are called Data Definition Languages (DDLs). They consist of commands such as CREATE, ALTER, TRUNCATE, and DROP.

* Create : CREATE is a DDL command in DBMS that is used to create tables or databases. While creating a table, we specify table names, column names, datatypes of each column, and column sizes. If there are any integrity constraints or key constraints of the table like PRIMARY KEY, UNIQUE, NOT NULL, etc. we must specify them while creating it along with the column names and details.

CREATE TABLE table_name

(
   
   column1 datatype,
   
   column2 datatype,
   
   column3 datatype,
   
)

* Drop : DROP is a DDL command used to delete an existing table completely from the database. This command deletes the table records along with their structure. The table and all its components are completely deleted and cannot be found again in the database.

DROP TABLE table_name;

* Alter : ALTER is a DDL command used to change the structure of an existing database table. Using this command we can perform operations like adding a new column, removing any column, adding or removing integrity constraints, or changing the data type of the existing column on the existing table. ALTER command is used to modify the existing structure of the table.

ALTER TABLE table_name ADD column_name column-definition;

* Truncate

TRUNCATE is a DDL command used to delete all records from the table while keeping its structure intact. This command is used to get rid of all the records and free up the space being used by the table. However, the table's structure remains unchanged, including the column names and details. Thus, the table can be used to store new data in the future.

TRUNCATE TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans-> A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases

* INSERT INTO Command :

This command can be used to insert data into a row of a table. INSERT INTO would insert the values that are mentioned in the ‘Student’ table below.

Syntax:
INSERT INTO NAME_OF_TABLE (1_column, 2_column, 3_column, …. N_column)

VALUES (1_value, 2_value, 3_value, …. N_value);

Or

INSERT INTO NAME_OF_TABLE

VALUES (1_value, 2_value, 3_value, …. N_value);

Example:
INSERT INTO Student(Stu_Name, DOB, Phone, Mail)

VALUES(‘Phoebe’, ‘1998-05-26’, 7812865845, ‘user@xyz.com’);

* UPDATE Command :

This statement in SQL is used to update the data that is present in an existing table of a database. The UPDATE statement can be used to update single or multiple columns on the basis of our specific needs.

Syntax:
UPDATE name_of_table SET 1_coumn = 1_value, 2_coumn = 2_value, 3_coumn = 3_value, … , N_coumn = N_value

WHERE condition;

And here,

name_of_table: name of the table

1_column, 2_column, 3_column, …. N_column: name of the first, second, third, …. nth column.

1_value, 2_value, 3_value, …. N_value: the new value for the first, second, third, …. nth column.

condition: the condition used to select those rows for which the column values need to be updated.

Example:
UPDATE Student SET Phone = 9039462901 WHERE Stu_Name = ’Phoebe’;

The WHERE clause in the preceding query is used to select the rows for which the columns need to be adjusted, and the SET statement has been used to assign new values to a particular column. If the WHERE clause is not used at all, then all of the rows’ columns will be modified. As a result, the WHERE clause is used to pick specific rows from the table.

Thus, the example query would update the phone number of the student with the name ‘Phoebe’.

* DELETE Command :

The DELETE statement can be used in SQL to delete various records from a given table. On the basis of the condition that has been set in the WHERE clause, one can delete single or multiple records.

Syntax:
DELETE FROM name_of_table [WHERE condition];

Example:
DELETE FROM Student WHERE Stu_Name = ’Phoebe’;

Q4. What is DQL? Explain SELECT with an example.

Ans-> The DQL statements can be used in order to query the data and information contained in schema objects. The goal of the DQL Commands is to return a schema relation on the basis of the query supplied to them.

DQL is a portion of a SQL statement that allows you to get and organise data from a database.

We can use the SELECT command to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra. The result of a SELECT statement on a table or collection of tables is compiled into a new temporary table, which is subsequently displayed or received by a program

Syntax

SELECT expression FROM table_x WHERE code_conditions;

Example

SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

The command given above would select the record from the table ‘Student’ where the phone number is ‘9039462908’.

Q5. Explain Primary Key and Foreign Key.

Ans-> Primary Key: 

A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: 

STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Foreign Key: 

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: 

STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans-> Python code to connect Mysql to python :

import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password"
  
)

* cursor() :

The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

You can create Cursor object using the cursor() method of the Connection object/class.

* execute() : 

This method accepts a MySQL query as a parameter and executes the given query.

example : cursor.execute("create table example(title, isbn)")

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans-> The SQL order of execution defines the order in which the clauses of a query are evaluated. Some of the most common query challenges people run into could be easily avoided with a clearer understanding of the SQL order of execution, sometimes called the SQL order of operations. Understanding SQL query order can help you diagnose why a query won’t run, and even more frequently will help you optimize your queries to run faster.

1) from : SQL’s from clause selects and joins your tables and is the first executed part of a query. This means that in queries with joins, the join is the first thing to happen. 

2) where : The where clause is used to limit the now-joined data by the values in your table’s columns. This can be used with any data type, including numbers, strings, or dates.

3) group by : Group by collapses fields of the result set into their distinct values. This clause is used with aggregations such as sum() or count() to show one value per grouped field or combination of fields. 

4) having : If the query has a GROUP BY clause, then the constraints in the HAVING clause are then applied to the grouped rows, discard the grouped rows that don't satisfy the constraint. Like the WHERE clause, aliases are also not accessible from this step in most databases.

5) select : Any expressions in the SELECT part of the query are finally computed.

6) order by : If an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order. Since all the expressions in the SELECT part of the query have been computed, you can reference aliases in this clause.

7) limit : Finally, the rows that fall outside the range specified by the LIMIT and OFFSET are discarded, leaving the final set of rows to be returned from the query.