Q1. List any five functions of the pandas library with execution.

Ans-> 1) empty : Returns the Boolean value saying whether the Object is empty or not. True indicates that the object is empty.

2) ndim : Returns the number of dimensions of the object. By definition, a Series is a 1D data structure, so it returns

3) size : Returns the size(length) of the series.

4) values : Returns the actual data in the series as an array.

5) T (Transpose) : Returns the transpose of the DataFrame. The rows and columns will interchange.

In [9]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print("Is the Object empty?")
print(s.empty)

print("***********************")

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print(s)

print("The dimensions of the object:")
print(s.ndim)

print("***********************")

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(2))
print(s)
print("The size of the object:")
print(s.size)

print("***********************")

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print(s)

print("The actual data series is:")
print(s.values)

print("***********************")

# Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

# Create a DataFrame
df = pd.DataFrame(d)
print("The transpose of the data series is:")
print(df.T)

Is the Object empty?
False
***********************
0   -0.814223
1    0.260223
2    0.852926
3    2.141433
dtype: float64
The dimensions of the object:
1
***********************
0    0.826518
1   -0.636334
dtype: float64
The size of the object:
2
***********************
0   -0.727386
1    0.140119
2    2.170037
3    1.298769
dtype: float64
The actual data series is:
[-0.72738592  0.14011898  2.17003687  1.29876861]
***********************
The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

Ans->

In [10]:
def set_index(df,a):
    
    index = [i for i in range(1,a,2)]
    df = pd.DataFrame(data,index)
    print(df)

data = {"A" : [10,11,12,13,14,15],
       "B" : [20,21,22,23,24,25],
       "C" : [30,31,32,33,34,35] }

df = pd.DataFrame(data)
print(df)
a=len(df)
set_index(df,2*a)

    A   B   C
0  10  20  30
1  11  21  31
2  12  22  32
3  13  23  33
4  14  24  34
5  15  25  35
     A   B   C
1   10  20  30
3   11  21  31
5   12  22  32
7   13  23  33
9   14  24  34
11  15  25  35

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

Ans->

In [11]:
def sum_values(df):
        sum = 0
        i=0
        while i<=2:
            sum = sum + df._get_value(i,"values")
            i+=1
        print(sum)

data = {"values": [10,20,30,40,50]}
df = pd.DataFrame(data)
sum_values(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

Ans->

In [12]:
def add_colm(df):
    a= len(df)
    print(a)
    i=0
    list1=[]
    while i <3:
        data = df._get_value(i,"Text")
        length = len(data)
        list1.append(length)
        i+=1
    df["Word_count"]=list1
    print(df)

data = {"Text" : ["Hello","Myself","Jaid"]}

df = pd.DataFrame(data)
print(df)

add_colm(df)

     Text
0   Hello
1  Myself
2    Jaid
3
     Text  Word_count
0   Hello           5
1  Myself           6
2    Jaid           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans-> Size and shape of a dataframe in pandas python: Size of a dataframe is the number of fields in the dataframe which is nothing but number of rows * number of columns. Shape of a dataframe gets the number of rows and number of columns of the dataframe.

* DataFrame.size() : Get the Size of the dataframe in pandas python.

* DataFrame.shape() : Get the shape of the dataframe in pandas python.

In [13]:
import pandas as pd
import numpy as np
 
#Create a DataFrame
df1 = {
     'Name':['George','Andrea','micheal','maggie','Ravi','Xien','Jalpa'],
   'Mathematics_score':[62,47,55,74,32,77,86]}
 
df1 = pd.DataFrame(df1,columns=['Name','Mathematics_score'])
print(df1)
print("***********************")
print(df1.size)
print("***********************")
print(df1.shape)

      Name  Mathematics_score
0   George                 62
1   Andrea                 47
2  micheal                 55
3   maggie                 74
4     Ravi                 32
5     Xien                 77
6    Jalpa                 86
***********************
14
***********************
(7, 2)

Q6. Which function of pandas do we use to read an excel file?

Ans-> module read_excel() function :

We can use the pandas module read_excel() function to read the excel file data into a DataFrame object.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [14]:
def filter_email(df):
    i = 0
    a= len(df)
    list1=[]
    while i < a:
        data = df._get_value(i,"emails")
        temp = ''
        t='@'
        d=0
        while data[d] != '@':
            temp = temp+data[d]
            d+=1
        list1.append(temp)
        i+=1
    df["Username"]=list1
    print(df)

data = {"emails" : ["john.doe@gmail.com","jk.786@gmail.com","johnCena@gmail.com"]}

df = pd.DataFrame(data)
print(df)
filter_email(df)

               emails
0  john.doe@gmail.com
1    jk.786@gmail.com
2  johnCena@gmail.com
               emails  Username
0  john.doe@gmail.com  john.doe
1    jk.786@gmail.com    jk.786
2  johnCena@gmail.com  johnCena

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [15]:
data = {"A" : [3,8,6,2,9],
       "B" : [5,2,9,3,1],
       "C" : [1,7,4,5,2]}

df = pd.DataFrame(data)
print(df)
print("***********")
select_row = df.loc[((df['A'] > 5) & (df['B'] <10))]
print(select_row)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2
***********
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

Ans->

In [16]:
from statistics import mean, median, stdev

def find_Statistics(df):
    a = df.loc[:,"Values"]
    print(type(a))
    print("mean =", mean(a))
    print("median =", median(a))
    print("standard deviation =", stdev(a))

data = {"Values" : [10,20,30,40,50,60]}
df = pd.DataFrame(data)
print(df)
find_Statistics(df)

   Values
0      10
1      20
2      30
3      40
4      50
5      60
<class 'pandas.core.series.Series'>
mean = 35
median = 35.0
standard deviation = 18.708286933869708

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

Ans->

In [17]:
import pandas as pd 
def add_moving_average(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df =  df.sort_values(by='Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods = 1).mean()
    return df
df = pd.DataFrame({'Date' : ['2022-01-02', '2022-01-02', '2022-01-03','2022-01-04','2022-01-05','2022-01-06',
                             '2022-01-07','2022-01-08','2022-01-09','2022-01-10'],
                  'Sales' : [10,20,30,40,50,60,70,80,90,100]})
df_with_ma = add_moving_average(df)
print(df_with_ma)

        Date  Sales  MovingAverage
0 2022-01-02     10           10.0
1 2022-01-02     20           15.0
2 2022-01-03     30           20.0
3 2022-01-04     40           25.0
4 2022-01-05     50           30.0
5 2022-01-06     60           35.0
6 2022-01-07     70           40.0
7 2022-01-08     80           50.0
8 2022-01-09     90           60.0
9 2022-01-10    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [18]:
def set_Day(df):
    d=0
    a=len(df)
    list2=[]
    list1 = ["Monday", "Tuesday" ,"Wednesday", "Thursday" ,"Friday" ,"Saturday" ,"Sunday"]
    for i in range(0,a):
        list2.append(list1[d])
        i+=1
        if d == 6:
            d=0
        else:
            d+=1
    df["Weekday"]=list2
    return df

data = {"Date" : ["1-1-2023","2-1-2023","3-1-2023","4-1-2023","5-1-2023","6-1-2023","7-1-2023","8-1-2023"]}

df = pd.DataFrame(data)
print(df)
df2=set_Day(df)
print(df2)

       Date
0  1-1-2023
1  2-1-2023
2  3-1-2023
3  4-1-2023
4  5-1-2023
5  6-1-2023
6  7-1-2023
7  8-1-2023
       Date    Weekday
0  1-1-2023     Monday
1  2-1-2023    Tuesday
2  3-1-2023  Wednesday
3  4-1-2023   Thursday
4  5-1-2023     Friday
5  6-1-2023   Saturday
6  7-1-2023     Sunday
7  8-1-2023     Monday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

Ans->

In [19]:
def select_rows_by_date_range(df):
    df['Date'] = pd.to_datetime(df['Date'])
    mask = (df['Date']>='2023-01-01') & (df['Date']<='2023-01-31')
    filtered_df=df.loc[mask]
    return filtered_df
df = pd.DataFrame({'Date' : ['2023-01-02', '2023-01-02', '2023-01-03','2023-01-04','2023-01-05','2023-01-06',
                             '2023-01-07','2023-01-08','2023-01-09','2023-01-10'],
                  'Sales' : [10,20,30,40,50,60,70,80,90,100]})
filterd_df =  select_rows_by_date_range(df)
print(filterd_df)

        Date  Sales
0 2023-01-02     10
1 2023-01-02     20
2 2023-01-03     30
3 2023-01-04     40
4 2023-01-05     50
5 2023-01-06     60
6 2023-01-07     70
7 2023-01-08     80
8 2023-01-09     90
9 2023-01-10    100

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Ans-> Pandas library